*,body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.clearfix:after{
    content: ".";
    display:block;
    clear:both;
}
#wrapper{
    width:100%;
    height:100vh;
    overflow:hidden;
}
#header{
    margin-top:25px;
    margin-right: 20px;
}
ul{
    list-style: none;
}
li{
    display:inline-block;
    font-size: 14px;
    
}
li a{
    text-decoration: none;
    color:rgb(66, 65, 65);
    padding:10px;
    line-height: 14px;
}
#header ul{
    float: right;
}
.bell{
    font-size: 12px;
    line-height: 16px;
    background-color: gray;
    color:white;
    border-radius: 50%;
    padding:3px 4px;

}
.thumbnail{
    font-size: 20px;
    line-height: 20px;
    position: relative;
    top:4px;
}
.username{
    width:50px;
    height:50px;
    background: rgb(5, 48, 18);
    box-sizing: border-box; 
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding:4px 11px;
    border-radius: 50%;
    color:rgb(243, 243, 243);
    border:none;

}
#main{
    text-align: center;
    
    
    margin-top:9%;

}
.logo{
    margin:0 auto;
    width:30%;
    height:30%;
}
.logo img{
    max-width:100%;
   
}


input{
   background: url('url("https://banner2.kisspng.com/20180405/iwq/kisspng-google-voice-search-web-search-engine-google-now-google-5ac67faeed6a97.5955641515229582549725.jpg');
   background-repeat: no-repeat;
   background-position: right;
    border:1px solid rgb(206, 206, 206);
    height:45px;

    width:50%;
    margin-bottom: 25px;
}
.btn{
    margin-bottom:25px;
    
}
.btn button{
    width:140px;
    height:40px;
    padding: 2px 4px;
    border:none;
    background-color: rgb(240, 240, 240);
    margin-right: 10px;
    cursor:pointer;
    font-size:15px;
}
#footer{
    font-size: 16px;
    width:100%;
}
.country{
    height:50px; 
    background-color: rgb(238, 236, 236);
    line-height: 50px;
    margin-top:60px;
    border:1px solid rgb(219, 219, 219);
    
}
.country p{
    margin-left:30px;
    color:rgb(131, 130, 130);
    font-size: 14px;
}
.nav{
    width:100%;
    height:50px;
    background-color: rgb(238, 236, 236);
    border:1px solid rgb(219, 219, 219);
    
    line-height: 50px;
    
}
.left{
    float:left;
    margin-left:20px;
}
.right{
    float: right;
    margin-right:20px;
}

a:hover{
    text-decoration: underline;
}
